.App {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;
}

.App-container {
  background-color: #282c34;
  min-height: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid #61dafb;
  border-radius: 15px;
}

.display {
  flex: 1;
  border: 2px solid #61dafb;
  border-radius: 15px;
  margin: 20px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}

.button {
 border-style: none;
 background-color: #61dafb;
 border-radius: 15px;
 width: 150px;
 height: 50px;
 font-size: 20px;
 cursor: pointer;
}

.indicator {
  background-color: #61dafb;
  color: black;
  font-size: 70px;
}

.error {
  font-size: 16px;
  color: red
}

.input {
  display: flex;
  justify-content: space-between;
  gap: 10px
}